*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* header 1 */

.top-header{
    background: #5a4a3b;
}

.header1 a{
    color: #9b9997;
}

.diff{
    color: #9bc960;
}

.dif{
    color: #9b9997;
}

.phone-contact{
    font-size: 70%;
}

.fab{
    font-size: 80%;
    color: #9b9997;
}

.fab:hover{
    color: #9bc960;
}

#hide-nav a{
    color: #9b9997;
}

.menu a{
    font-size: 15px;
    color:  #777472;
    font-family: Montserrat;
}

.menu ul{
    width: 100%;
}

.menu{
    width: 100%;
    padding-bottom: 10px;
}

.menu nav{
    width: 100%;
}

.scf{
    width: 100%;
}

.lg{
    width: 100%;
    margin-top: -180px;
}

.logo{
    padding: 40px 0 80px 0;
}

.side-logo{
    padding: 20px 0 80px 0;
}

/* main? */

.slogan{
    background: #827161;
}

.slg{
    height: 100%;
    padding: 75px 0;
}

.previous{
    width: 56px;
    height: 56px;
    border: 3px solid white;
    margin-left: 20px;
    border-radius: 50%;
    background: #928a83;
}

.previous .fas{
    font-size: 20px;
    text-align: center;
    align-items: center;
    padding-top: 16px;
    color: white;
}

.previous:hover{
    background: #88c442;
}

.stln{
    font-size: 31.74px;
    font-family: Montserrat;
    color: #9dc86b;
}

.slogan h3{
    width: 100%;
    text-align: center;
}

.slogan-text{
    width: 100%;
}

.ndln{
    color: white;
    font-family: Montserrat;
    font-size: 126.27px;
}

.ndln span{
    color: #88c442;
}

.slogan-text p{
    width: 100%;
    text-align: center;
}

.rdln{
    color:#d7e7c5;
    font-family: Montserrat;
    font-size: 24px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    padding: 30px;
    border: 2px solid ;
}

.carousel-item{
    background-image: url(/ảnh/homepage/header/bg-img.jpg);
    background-size: cover;
    padding: 50px 0;
}

/* FEATURE */

.feature{
    padding-bottom: 20px;
}

.feature .color{
    height: 283px;
    background: #88c442;
    margin-top: -20px;
}

.fresh{
    font-size: 60px;
    font-family: Frente H1;
}

.fresh span{
    color: #6d8038;
}

.view{
    font-size: 12px;
    font-family: Montserrat;
    text-decoration: underline;
    color: #6b6b6b;
}

/* PRODUCT */

.diff-back{
    background: #f8f3ee;
}


.new-arr img{
    height: 53px;
}

.lr img{
    width: 100%;
    height: 13px;
}

.new-arr .row{
    padding: 20px 0 25px;
}

.new-arr-text{
    font-size: 76px;
    font-family: Frente H1;
}

.dotd{
    font-size: 60px;
}

.new-arr-text p{
    line-height: 76px;
    margin: 0px !important;
}

.new-arr .row{
    width: 100%;
}

.new-arr-text p{
    color: #6d8038;
}

.buy {
    width: 100%;
    padding-bottom: 20px;
}

.buy-color{
    height: 190px;
    background: #88c442;
}

.buy-info{
    background: white;
}

.buy-info .name{
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
}

.buy-info .price{
    font-size: 30px;
    font-family: Montserrat;
}

.buy-info .price span{
    font-size: 14px;
    color: red;
    text-decoration: line-through;
}

.buy-info a img{
    width: 100%;
}

.buy-btn{
    margin: 0 !important; 
}

.buy-tag{
    position: absolute;
    top: -5%;
    right: 10%;
}

.the-day{
    color: black;
}

/* DEAL OF THE DAY */

.deal-info{
    width: 100%;
    padding-left: 27%;
}

.deal-info pre{
    font-size: 14px;
    font-family: Montserrat;
    color: #5a4a3b;
    border-top: 1px solid #5a4a3b;
    border-bottom: 1px solid #5a4a3b;
    width: 60%;
}

.deal-info pre a{
    color: #5a4a3b;
}

.big-deal-info-1 .color{
    height: 100px;
    background: #88c442;
}

.big-deal-info-1 p{
    margin-bottom: 0px;
}

.big-deal{
    padding-bottom: 50px;
}

.big-deal-info-2{
    padding-top: 30px;
}

.center-deal>img{
    width: 100%;
}

.center-deal .center-color{
    width: 100px;
    height: 100px;
    background: #88c442;
    margin: 0;
}

.rate{
    width: 74px !important;
    margin: 0 !important;
}

.center-col{
    height: 150px;
}

.center-prod{
    margin-top: -80%;
}

.center-img{
    width: 100%;
}

.buybtn-center{
    width: 40%;
}

.center-name{
    width: 80%;
    margin-left: 6%;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 0;
}

.center-price{
    font-size: 30px;
    font-family: Montserrat;
    margin-bottom: 0;
}

.center-price span{
    font-size: 14px;
    color: red;
    text-decoration: line-through;
}


/* FREE SHIPPING */

.fre-fru{
    background: #827161;
    padding-top: 10%;
    height: 100%;
}


.fre-fru p{
    font-family: Frente H1;
    font-size: 125px;
    color: #6fbb5b;
    width: 100%;
    text-align: center;
}

.fre-fru span{
    color: #d2ef89;
}

.free-ship p{
    color: #fff;
}

.shipping{
    font-family: Frente H1;
    font-size: 48px;
}

.fee{
    font-family: Montserrat;
    font-size: 18px;
}

.free-ship{
    height: 100%;
    background: #827161;
    padding-top: 60%;
}

/* NEWS */

.news-name{
    font-size: 40px;
    font-family: Frente H1;
    color: white;
}

.news-date{
    font-family: Montserrat;
    font-size: 14px;
    color: #b0d458;
}

.brown{
    background: #5a4a3b;
    padding-top: 75%;
    padding-left: 5%;
    height: 100%;
}

.brown:hover {
    background: #34711b;
}

.deli-pa{
    font-size: 70px;
}

/* deli-pro */

.step{
    font-family: Frente H1;
    font-size: 48px;
    width: 100%;
    text-align: center;
}

.step-detail{
    font-family: Montserrat;
    font-style: italic;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.deli-thumb :hover{
    transform: translatey(-20px) rotateY(360deg);
    transition: 1s;
}

.process-arr{
    padding-top: 5%;
}

/* SIGN */

.sign-wrap{
    background: #5a4a3b;
}

.sign-info {
    height: 100%;
    padding: 40px;
}

.sign-info .row{
    height: 100%;
}

.sign-info .to{
    font-family: Frente H1;
    font-size: 80px;
}

.sign-info .to span{
    color: #a3da66;
}

.sign-info .be{
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
}

.sign-info .be span{
    color: #8fca58;
}

.sign-info ::placeholder{
    font-family: Montserrat;
    font-size: 16px;
    color: #ababab;
    padding-left: 5%;
}

.sign-btn{
    width: 100%;
    text-align: center;
}

.sign-btn input{
    width: 70%;
    height: 50px;
    border-radius: 50px 0 0 50px;
    border: 0;
    padding-right: 0px;
}

.sign-btn button{
    color: #fff;
    width: 28%;
    height: 50px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    background: #5b9a2e;
    border-radius: 0px 50px 50px 0px;
    border: 0;
    padding-left: -1px;
    position: relative;
    left: -1.5%;
    top: -1.7px;
}

.logo{
    padding-top: 7%;
    width: 100%;
    justify-content: space-around;
}

.logo img{
    width: auto;
}

.sponsor .col{
    line-height: 100% !important;
}

.sponsor img{
    width: 100%;
}

/* FOOTER */

footer{
    padding-top: 50px;
    background: #5a4a3b;
}

.service{
    position: relative;
    top: 30px;
    background: #add253;
    padding: 20px 20px 0;
}

.service-name{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bolder;
}

.service-info{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
}

.service .row{
    height: 100%;
}

.item-services{
    margin-bottom: 20px;
}

.logo-contact{
    height: 350px;
}

.logo-contact p{
    color: #add253;
    font-family: Montserrat;
    font-size: 14px;
    margin: 20px 10px;
}

.footer-contact .row{
    margin-top: 3%;
}

.logo-contact img{
    margin: 0px 10px 20px 10px;
}

.footer-contact h1{
    font-family: Montserrat;
    font-size: 18px;
    color: #add253;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer-tab ul li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 17px 0;
}

.footer-tab ul{
    padding: 0;
    margin: 0;
}

.footer-tab ul li a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    color: #d6d0be;
}

.ins-item img{
    width: 100%;
}

.ins-item{
    margin: 20px 0;
}

.cpy-right{
    font-family: Montserrat;
    font-size: 13px;
    color: #fff;
}

.cpy-right span{
    color: #add253;
}

.pay-med img{
    width: 20%;
}

.footer-contact-icon a{
    color: #7b6e62;
}

.footer-contact-icon div:hover{
    border-radius: 50%;
    background: #787b44;
}

.footer-contact-icon div{
    width: 30px;
    height: 30px;
    text-align: center;
}

.footer-contact-icon div:hover a{
    color: #fff;
}

@media (max-width: 1200px) {
    .buy-info .price{
        font-size: 24px;
    }
    .buy-info .price span{
        font-size: 12px;
    }
    .center-price{
        font-size: 25px;
        font-family: Montserrat;
        margin-bottom: 0;
    }
    .center-price span{
        font-size: 14px;
        color: red;
        text-decoration: line-through;
    }
    .center-name{
        font-size: 14px;
    }
    .buybtn-center{
        width: 40%;
    }
    .center-deal .center-color{
        width: 90px;
        height: 90px;
    }
    .deli-pa{
        font-size: 60px;
    }
}

@media (max-width: 992px) {
    .top-header{
        font-size: 12px;
    }
    .logo,.side-logo{
        padding: 0;
    }
    .menu a{
        font-size: 12px;
    }
    .type-in{
        font-size: 8px;
    }
    .type-name{
        font-size: 10px;
    }
    .service-name{
        font-size: 20px;
    }
    .service-info{
        font-size: 12px;
    }
    .ins-item img{
        width: 100%;
    }
    .ins-item{
        margin: 18px 0;
    }
    .footer-tab h1{
        font-size: 16px;
    }
    .footer-tab ul li a{
        font-size: 13px;
    }
    .stln{
        font-size: 27px;
    }
    .ndln{
        font-size: 130px;
    }
    .rdln{
        font-size: 20px;
    }
    .feature .color{
        height: 220px;
        margin-top: -16px;
    }
    .fresh{
        font-size: 50px;
    }
    .view{
        font-size: 10px;
    }
    .new-arr-text{
        font-size: 50px;
    }
    .buy-color{
        height: 170px;
    }
    
    .buy-info .name{
        font-size: 14px;
    }
    
    .buy-info .price{
        font-size: 26px;
    }
    
    .buy-info .price span{
        font-size: 12px;
    }
    .dotd{
        font-size: 40px;
    }
    .cemter{
        text-align: center;
    }
    .center-name{
        font-size: 10px;
    }
    .center-price{
        font-size: 18px;
        font-family: Montserrat;
        margin-bottom: 0;
    }
    .center-price span{
        font-size: 12px;
        color: red;
        text-decoration: line-through;
    }
    .buybtn-center{
        width: 40%;
    }
    .center-deal .center-color{
        width: 70px;
        height: 70px;
    }
    .rate{
        width: 60px !important;
    }
    .fre-fru{
        padding-top: 10%;
    }
    .fre-fru p{
        font-family: Frente H1;
        font-size: 125px;
        color: #6fbb5b;
        width: 100%;
        text-align: center;
    }
    
    .shipping{
        font-size: 35px;
    }
    
    .fee{
        font-size: 15px;
    }
    
    .free-ship{
        height: 100%;
        background: #827161;
        padding-top: 60%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .free-ship img{
        width: 90%;
    }
    .news-name{
        font-size: 30px;
    }
    .news-date{
        font-size: 12px;
    }
    .brown{
        padding-top: 65%;
        padding-left: 5%;
    }
    .deli-pa{
        font-size: 45px;
    }
    .deli-thumb img{
        width: 90%;
    }
    .step{
        font-family: Frente H1;
        font-size: 42px;
        width: 100%;
        text-align: center;
    }
    
    .step-detail{
        font-size: 12px;
    }
    
    .process-arr{
        padding-top: 5%;
    }
    .to{
        font-size: 75px;
    }
    .be{
        font-size: 20px !important;
    }
}

@media (max-width: 768px){
    .top-header{
        font-size: 10px;
    }
    .menu a{
        font-size: 10px;
    }
    .service-name{
        font-size: 18px;
    }
    .service-info{
        font-size: 10px;
    }
    .ins-item img{
        width: 60%;
    }
    .ins-item{
        margin: 15px 0;
    }
    .footer-tab h1{
        font-size: 14px;
    }
    .footer-tab ul li a{
        font-size: 12px;
    }
    .cpy-right{
        text-align: center;
    }
    .stln{
        font-size: 27px;
    }
    .ndln{
        font-size: 110px;
    }
    .rdln{
        font-size: 24px;
    }
    .feature .color{
        height: 170px;
        margin-top: -15px;
    }
    .fresh{
        font-size: 30px;
    }
    .view{
        font-size: 8px;
    }
    .new-arr-text{
        font-size: 40px;
    }
    .buy-color{
        height: 130px;
    }
    
    .buy-info .name{
        font-size: 10px;
    }
    
    .buy-info .price{
        font-size: 14px;
    }
    
    .buy-info .price span{
        font-size: 8px;
    }
    .buy-tag{
        width: 40%;
    }
    .dotd{
        font-size: 30px;
    }
    .cemter{
        text-align: center;
    }
    .center-name{
        font-size: 8px;
        margin-bottom: -10px;
    }
    .center-price{
        font-size: 12px;
        font-family: Montserrat;
        margin-bottom: -7px ;
    }
    .center-price span{
        font-size: 10px;
        color: red;
        text-decoration: line-through;
    }
    .buybtn-center{
        width: 40%;
    }
    .center-deal .center-color{
        width: 40px;
        height: 40px;
    }
    .rate{
        width: 40px !important;
    }
    .fre-fru{
        padding-top: 10%;
    }
    .fre-fru p{
        font-size: 100px;
        width: 100%;
        text-align: center;
    }
    
    .shipping{
        font-size: 30px;
    }
    
    .fee{
        font-size: 12px;
    } 
    .free-ship{
        height: 100%;
        background: #827161;
        padding-top: 60%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .free-ship img{
        width: 100%;
    }
    .news-name{
        font-size: 30px;
    }
    .news-date{
        font-size: 12px;
    }
    .brown{
        padding-top: 65%;
        padding-left: 5%;
    }
    .news-detail .col-6{
        margin-bottom: 20px !important;
    }
    .deli-thumb img{
        width: 90%;
    }
    .step{
        font-size: 35px;
    }
    
    .step-detail{
        font-size: 10px;
    }
    
    .process-arr{
        padding-top: 5%;
    }
    .process-arr img{
        width: 200%;
    }
    .to{
        font-size: 70px;
    }
    .be{
        font-size: 15px !important;
    }
}

@media (max-width: 576px){
    .top-header{
        font-size: 7px;
    }
    .menu a{
        font-size: 7px;
    }
    .service-name{
        font-size: 15px;
    }
    .service-info{
        font-size: 10px;
    }
    .ins-item img{
        width: 60%;
    }
    
    .ins-item{
        margin: 13px 0;
    }
    .footer-tab h1{
        font-size: 12px;
    }
    .footer-tab ul li a{
        font-size: 10px;
    }
    .cpy-right{
        text-align: center;
    }
    .stln{
        font-size: 20px;
    }
    .ndln{
        font-size: 85px;
    }
    .rdln{
        font-size: 16px;
    }
    .feature .color{
        height: 150px;
        margin-top: -15px;
    }
    .fresh{
        font-size: 20px;
    }
    .view{
        font-size: 6px;
    }
    .new-arr-text{
        font-size: 30px;
    }
    .buy-color{
        height: 100px;
    }
    
    .buy-info .name{
        font-size: 8px;
    }
    
    .buy-info .price{
        font-size: 12px;
    }
    
    .buy-info .price span{
        font-size: 8px;
    }
    .dotd{
        font-size: 20px;
    }
    .cemter{
        text-align: center;
    }
    .center-name{
        font-size: 6px;
        margin-bottom: -10px;
    }
    .center-price{
        font-size: 10px;
        font-family: Montserrat;
        margin-bottom: -7px ;
    }
    .center-price span{
        font-size: 8px;
        color: red;
        text-decoration: line-through;
    }
    .buybtn-center{
        width: 35%;
    }
    .center-deal .center-color{
        width: 40px;
        height: 40px;
    }
    .rate{
        width: 40px !important;
        margin-bottom: -10px !important;
    }
}

@media (max-width: 500px) {
    .buy-info .name{
        font-size: 6px;
    }
    .buy-info .price{
        font-size: 9px;
    }
    .buy-info .price span{
        font-size: 6px;
    }
    .buy-tag{
        width: 40%;
    }
    .fre-fru{
        padding-top: 30%;
    }
    .fre-fru p{
        font-size: 80px;
        width: 100%;
        text-align: center;
    }
    
    .shipping{
        font-size: 26px;
    }
    
    .fee{
        font-size: 8px;
    } 
    .free-ship{
        height: 100%;
        background: #827161;
        padding-top: 80% !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .free-ship img{
        width: 100%;
    }
    .news-name{
        font-size: 25px;
    }
    .news-date{
        font-size: 10px;
    }
    .brown{
        padding-top: 65%;
        padding-left: 5%;
    }
    .deli-thumb img{
        width: 90%;
    }
    .step{
        font-size: 27px;
    }
    
    .step-detail{
        font-size: 8px;
    }
    
    .process-arr{
        padding-top: 5%;
    }
    .process-arr img{
        width: 200%;
    }
    .to{
        font-size: 60px !important;
    }
    .be{
        font-size: 12px !important;
    }
}
